<%= form_with(model: listings, url: url, method: 'get') do |f| %>
  <span><%= f.collection_select(:filter_data, filter_options, :to_s, :to_s, {prompt: 'Filter'}, class: 'filter')%></span>
  <br>
  <span><%= f.submit 'Filter', class: 'filter-submit'%></span>
<% end %>