<h1><%="My " if params[:user_id] %>Listings</h1>

<% if params[:user_id] %>
  <%= link_to "New Listing", new_user_listing_path(current_user) %>
<% end %>

<% @listings.each do |listing| %>
  <%= render 'listing', listing: listing, show_content: false %>
<% end %>