<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%=@job_application.applicant.email%> applied to your job posting!</p>
  </body>

</html>