/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 *= require_tags
 *= require_listings
 */

/*
Colors
#f8e9a1 -yellow
#f76c6c -red 
#a8d0e6 -light blue/grey
#374785 -medium blue
#24305e -navy
*/

.g-bg {
  background-color:#c5ddbb;
}
.y-bg {
  background-color:#f8e9a1;
}

.r-bg {
  background-color:#f76c6c;
}

.lb-bg {
  background-color:#a8d0e6;
}

.lg-bg {
  background-color:#e3eeff;
}

.mb-bg {
  background-color:#374785;
}

.navy-bg {
  background-color:#24305e;
}
.mb-text {
  color: #374785;
}

.navy-text {
  color: #24305e;
}

.w-text {
  color: white;
}

a {
  color:#374785;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #24305e;
}



/* removes ugly highlighting around input field */
.input-group {
  input:focus, textarea:focus {
  box-shadow: none;
  background-color: inherit;
}}

/* doesn't change color of input field if auto selected */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px inherit inset;
  -webkit-box-shadow: 0 0 0 30px inherit inset;
}


.custom-checkbox span {
  display: inline-block;
  vertical-align: middle;
}