/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

.tags {
  margin-top: 10px;
  margin-bottom: 10px;
}
.tags span {
  background-color: pink;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 5px;
  border-radius: 5px;
}

.tags {
  .tag-python {
    background-color:#ffdf74;
    color:#326c9e;
  }
  .tag-ruby {
    background-color:#cc0000
  }
  .tag-rails {
    background-color:#cc0000;
  }
  .tag-java {
    background-color:#5382a1;
    color:#f8981d;
  }
  .tag-html {
    background:#d1382b;
  }
  
  .tag-bootstrap {
    background-color:#563d7c;
  }
  
  .tag-node {
    background-color:#026e00;
  }
  
  .tag-javascript {
    background-color:#f7df1e;
    color:black;
  }
  
  .tag-kotlin {
    background-color:#d05f9d;
  }
  
  .tag-r {
    background-color:#b9babe;
    color:#2266b9;
  }
  
  .tag-matlab {
    background-color:#67c5bb;
  }
  
  .tag-rust {
    background-color:#ed9d31;
  }
  
  .tag-react {
    background-color:#48cff8;
  }
  
  .tag-css {
    background-color:#264ddf
  }
  
  .tag-django {
    background-color:#0a2e20;
  }
  
  .tag-go {
    background-color:#6ad8e6;
  }
  
  .tag-sql {
    background-color:#60a0ec;
  }
  
  .tag-php {
    background-color:#9599c5;
    color:black;
  }
  
  .tag-perl {
    background-color:#018fbc;
  }
  
  .tag-typescript {
    background-color:#3075c1;
  }
  
  .tag-swift {
    background-color:#fba53e;
  }
  
  .tag-scala {
    background-color:#d62000;
  }

  .tag-csharp {
    background-color:#1d9a23;
  }
  .tag-cplusplus {
    background-color:#6295cd;
  }
}


