// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.listing-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}