.tags {
  margin-top: 10px;
  margin-bottom: 10px;
}
.tags span {
  background-color: pink;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 5px;
  border-radius: 5px;
}

.tags {
  .tag-python {
    background-color:#ffdf74;
    color:#326c9e;
  }
  .tag-ruby {
    background-color:#cc0000
  }
  .tag-rails {
    background-color:#cc0000;
  }
  .tag-java {
    background-color:#5382a1;
    color:#f8981d;
  }
  .tag-html {
    background:#d1382b;
  }
  
  .tag-bootstrap {
    background-color:#563d7c;
  }
  
  .tag-node {
    background-color:#026e00;
  }
  
  .tag-javascript {
    background-color:#f7df1e;
    color:black;
  }
  
  .tag-kotlin {
    background-color:#d05f9d;
  }
  
  .tag-r {
    background-color:#b9babe;
    color:#2266b9;
  }
  
  .tag-matlab {
    background-color:#67c5bb;
  }
  
  .tag-rust {
    background-color:#ed9d31;
  }
  
  .tag-react {
    background-color:#48cff8;
  }
  
  .tag-css {
    background-color:#264ddf
  }
  
  .tag-django {
    background-color:#0a2e20;
  }
  
  .tag-go {
    background-color:#6ad8e6;
  }
  
  .tag-sql {
    background-color:#60a0ec;
  }
  
  .tag-php {
    background-color:#9599c5;
    color:black;
  }
  
  .tag-perl {
    background-color:#018fbc;
  }
  
  .tag-typescript {
    background-color:#3075c1;
  }
  
  .tag-swift {
    background-color:#fba53e;
  }
  
  .tag-scala {
    background-color:#d62000;
  }

  .tag-csharp {
    background-color:#1d9a23;
  }
  .tag-cplusplus {
    background-color:#6295cd;
  }
  .beginner {
    background-color: green;
  }
  .intermediate {
    background-color: #f8e9a1;
    color: #24305e;
  }
  .expert {
    background-color: #f76c6c;
  }
}

// Remove Default Checkbox
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

// .container:hover input ~ .checkmark {
//   background-color: #ccc;
// }

.checkmark {
  opacity: 30%;
}
.custom-checkbox:hover input ~ .checkmark {
  opacity: 100%;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  opacity: 100%;
}